<li style="float:left; width: 100px;"><%= f.text_field :percent, :size => 5%></li>
<li style="float:left; width: 200px;"><%= f.text_field :maximum_per_user, :size => 5 %></li>
<li style="float:left; width: 200px;"><%= f.text_field :maximum, :size => 5 %></li>
<li style="float:left; width: 200px;"><%= f.submit "Update" %></li>

