<p>
  <b>Title:</b>
  <%=h @cost_method.title %>
</p>

<p>
  <b>Active:</b>
  <%=h @cost_method.active %>
</p>


<%= link_to 'Edit', edit_cost_method_path(@cost_method) %> |
<%= link_to 'Back', cost_methods_path %>